* {
  box-sizing: border-box;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1rem;
}
:root {
  --primary: #3a3a3a;
  --accent: #12b886;
  --popup: #2e2e2e;
  --secondary: #808080;
}
::selection {
  background-color: var(--accent);
  color: white;
}
::-webkit-scrollbar {
  display: none;
}
:focus {
  outline: none;
}
body {
  display: flex;
  justify-content: center;
  background-color: var(--primary);
}
.app {
  background-color: #3a3a3a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: calc(100vw - 88px);
  max-width: 1400px;
  height: 100vh;
}
a {
  text-decoration: none;
  color: white;
}
h1 {
  font-size: 3rem;
  letter-spacing: -1px;
  margin-bottom: 3rem;
  margin-top: 1rem;
}
input[type="text"] {
  background-color: gray;
  color: white;
  padding-inline: 1rem;
  padding-block: .5rem;
  border-radius: 1rem;
  border: none;
  font-size: 1.5rem;
  width: 66vw;
  margin: 36px;
}
::placeholder {
  color: white;
}