* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

body {
  background-color: rgb(26, 26, 26);
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgrey;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  position: fixed;
  top: 5vh;
  left: 0;
  right: 0;
  text-align: center;
}

input {
  width: 66vw;
  padding-block: 8px;
  border: none;
  display: block;
  margin-bottom: 24px;
}

button {
  background-color: #12b886;
  border: none;
  width: calc(33vw - 2px);
  height: 2rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  filter: saturate(1.5);
}

::placeholder {
  color: grey
}

@media (min-width: 600px) {
  input {
    max-width: 512px;
  }

  button {
    max-width: 256px;
  }
}

.clicked {
  animation: clicked 0.5s;
}

@keyframes clicked {
  0% {
    filter: brightness(1);
  }

  50% {
    filter: brightness(.8);
  }

  100% {
    filter: brightness(1);
  }
}